
.weather{
  place-self: center;
  padding:40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #96DED1, #dda0dd);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}
.searchBar{
  display: flex;
  align-items: space-between;
  gap:12px;
}

 .searchBar input{
  height: 50px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc ;
  font-size: 18px;
  width: 31rem;
}
.searchBar img{
  width: 50px;
  padding: 15px;
  border-radius: 20%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon{
  width: 150px;
  margin: 30px 0;
}
.temp{
  color:#fff;
  font-size: 80px;
  line-height: 1;
}
.loc{
  color: #fff;
  font-size: 40px;
}

.weather-data{
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col{
  display: flex;
  align-items: flex-start;
  gap: 12ox;
  font-size: 22px;
}

.weather-data .col span{
  display: block;
  font-size: 16px;
}

.weather-data .col img{
  width: 26px;
  margin-top: 10px;
}